In [235]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from IPython.display import display

columns=['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol','quality']
  
 
df_red = pd.read_csv('../data/winequality-red.csv', sep=';', encoding='utf-8')

df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [236]:
df_white = pd.read_csv('../data/winequality-white.csv', sep=';', encoding='utf-8')

print('--------white---------------')
df_white .head()

--------white---------------

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [237]:

print(f"red:     rows:{df_red.shape[0]} columns: {df_red.shape[1]}")

print(f"white:   rows:{df_white.shape[0]} columns: {df_white.shape[1]}")

red:     rows:1599 columns: 12
white:   rows:4898 columns: 12

In [238]:

print('\n--------red---------------\n')
df_red.info()

print('\n--------white---------------\n')
df_white.info()

--------red---------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

--------white---------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [239]:
print('\n--------red---------------\n')
print(df_red.describe())
print('\n---------white--------------\n')
print(df_white.describe())

--------red---------------

       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     0.996747
std       0.047065            10.460157             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      3.311113     0.658149    10.422983     5.636023
std       0.154386     0.169507     1.065668     0.807569
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000

---------white--------------

       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    4898.000000       4898.000000  4898.000000     4898.000000
mean        6.854788          0.278241     0.334192        6.391415
std         0.843868          0.100795     0.121020        5.072058
min         3.800000          0.080000     0.000000        0.600000
25%         6.300000          0.210000     0.270000        1.700000
50%         6.800000          0.260000     0.320000        5.200000
75%         7.300000          0.320000     0.390000        9.900000
max        14.200000          1.100000     1.660000       65.800000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  4898.000000          4898.000000           4898.000000  4898.000000
mean      0.045772            35.308085            138.360657     0.994027
std       0.021848            17.007137             42.498065     0.002991
min       0.009000             2.000000              9.000000     0.987110
25%       0.036000            23.000000            108.000000     0.991723
50%       0.043000            34.000000            134.000000     0.993740
75%       0.050000            46.000000            167.000000     0.996100
max       0.346000           289.000000            440.000000     1.038980

                pH    sulphates      alcohol      quality
count  4898.000000  4898.000000  4898.000000  4898.000000
mean      3.188267     0.489847    10.514267     5.877909
std       0.151001     0.114126     1.230621     0.885639
min       2.720000     0.220000     8.000000     3.000000
25%       3.090000     0.410000     9.500000     5.000000
50%       3.180000     0.470000    10.400000     6.000000
75%       3.280000     0.550000    11.400000     6.000000
max       3.820000     1.080000    14.200000     9.000000

In [240]:
print('\n--------red missed values --------------\n')

print(df_red.isnull().sum())

print('\n--------white missed values --------------\n')
print(df_white.isnull().sum())

--------red missed values --------------

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

--------white missed values --------------

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [241]:
print('\n--------red---------------\n')
numeric_cols_red = df_red.select_dtypes(include=['float64', 'int64']).columns

for col in numeric_cols_red:
    print(f"---\nColumn: {col}")
    print("Stats:")
    print(df_red[col].describe())
    print("Nulls:", df_red[col].isnull().sum())
    print("Unique values:", df_red[col].nunique())
    print()

  
categorical_cols_red = ['free sulfur dioxide','total sulfur dioxide']
for col in categorical_cols_red:
    print(f"---\nColumn: {col}")
    print("Unique values/count:", df_red[col].nunique())
    print("Sample values:", df_red[col].unique()[:10])  
    print("Top 10 most common:")
    print(df_red[col].value_counts().head(10))
    print()

--------red---------------

---
Column: fixed acidity
Stats:
count    1599.000000
mean        8.319637
std         1.741096
min         4.600000
25%         7.100000
50%         7.900000
75%         9.200000
max        15.900000
Name: fixed acidity, dtype: float64
Nulls: 0
Unique values: 96

---
Column: volatile acidity
Stats:
count    1599.000000
mean        0.527821
std         0.179060
min         0.120000
25%         0.390000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile acidity, dtype: float64
Nulls: 0
Unique values: 143

---
Column: citric acid
Stats:
count    1599.000000
mean        0.270976
std         0.194801
min         0.000000
25%         0.090000
50%         0.260000
75%         0.420000
max         1.000000
Name: citric acid, dtype: float64
Nulls: 0
Unique values: 80

---
Column: residual sugar
Stats:
count    1599.000000
mean        2.538806
std         1.409928
min         0.900000
25%         1.900000
50%         2.200000
75%         2.600000
max        15.500000
Name: residual sugar, dtype: float64
Nulls: 0
Unique values: 91

---
Column: chlorides
Stats:
count    1599.000000
mean        0.087467
std         0.047065
min         0.012000
25%         0.070000
50%         0.079000
75%         0.090000
max         0.611000
Name: chlorides, dtype: float64
Nulls: 0
Unique values: 153

---
Column: free sulfur dioxide
Stats:
count    1599.000000
mean       15.874922
std        10.460157
min         1.000000
25%         7.000000
50%        14.000000
75%        21.000000
max        72.000000
Name: free sulfur dioxide, dtype: float64
Nulls: 0
Unique values: 60

---
Column: total sulfur dioxide
Stats:
count    1599.000000
mean       46.467792
std        32.895324
min         6.000000
25%        22.000000
50%        38.000000
75%        62.000000
max       289.000000
Name: total sulfur dioxide, dtype: float64
Nulls: 0
Unique values: 144

---
Column: density
Stats:
count    1599.000000
mean        0.996747
std         0.001887
min         0.990070
25%         0.995600
50%         0.996750
75%         0.997835
max         1.003690
Name: density, dtype: float64
Nulls: 0
Unique values: 436

---
Column: pH
Stats:
count    1599.000000
mean        3.311113
std         0.154386
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64
Nulls: 0
Unique values: 89

---
Column: sulphates
Stats:
count    1599.000000
mean        0.658149
std         0.169507
min         0.330000
25%         0.550000
50%         0.620000
75%         0.730000
max         2.000000
Name: sulphates, dtype: float64
Nulls: 0
Unique values: 96

---
Column: alcohol
Stats:
count    1599.000000
mean       10.422983
std         1.065668
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64
Nulls: 0
Unique values: 65

---
Column: quality
Stats:
count    1599.000000
mean        5.636023
std         0.807569
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64
Nulls: 0
Unique values: 6

---
Column: free sulfur dioxide
Unique values/count: 60
Sample values: [11. 25. 15. 17. 13.  9. 16. 52. 51. 35.]
Top 10 most common:
free sulfur dioxide
6.0     138
5.0     104
10.0     79
15.0     78
12.0     75
7.0      71
9.0      62
16.0     61
17.0     60
11.0     59
Name: count, dtype: int64

---
Column: total sulfur dioxide
Unique values/count: 144
Sample values: [ 34.  67.  54.  60.  40.  59.  21.  18. 102.  65.]
Top 10 most common:
total sulfur dioxide
28.0    43
24.0    36
18.0    35
15.0    35
23.0    34
14.0    33
20.0    33
31.0    32
38.0    31
27.0    30
Name: count, dtype: int64

In [242]:
print('\n--------white---------------\n')
numeric_cols_white = df_white.select_dtypes(include=['float64', 'int64']).columns

for col in numeric_cols_white:
    print(f"---\nColumn: {col}")
    print("Stats:")
    print(df_white[col].describe())
    print("Nulls:", df_white[col].isnull().sum())
    print("Unique values:", df_white[col].nunique())
    print()

  
categorical_cols_white = ['free sulfur dioxide','total sulfur dioxide']
for col in categorical_cols_white:
    print(f"---\nColumn: {col}")
    print("Unique values/count:", df_white[col].nunique())
    print("Sample values:", df_white[col].unique()[:10])  
    print("Top 10 most common:")
    print(df_white[col].value_counts().head(10))
    print()

--------white---------------

---
Column: fixed acidity
Stats:
count    4898.000000
mean        6.854788
std         0.843868
min         3.800000
25%         6.300000
50%         6.800000
75%         7.300000
max        14.200000
Name: fixed acidity, dtype: float64
Nulls: 0
Unique values: 68

---
Column: volatile acidity
Stats:
count    4898.000000
mean        0.278241
std         0.100795
min         0.080000
25%         0.210000
50%         0.260000
75%         0.320000
max         1.100000
Name: volatile acidity, dtype: float64
Nulls: 0
Unique values: 125

---
Column: citric acid
Stats:
count    4898.000000
mean        0.334192
std         0.121020
min         0.000000
25%         0.270000
50%         0.320000
75%         0.390000
max         1.660000
Name: citric acid, dtype: float64
Nulls: 0
Unique values: 87

---
Column: residual sugar
Stats:
count    4898.000000
mean        6.391415
std         5.072058
min         0.600000
25%         1.700000
50%         5.200000
75%         9.900000
max        65.800000
Name: residual sugar, dtype: float64
Nulls: 0
Unique values: 310

---
Column: chlorides
Stats:
count    4898.000000
mean        0.045772
std         0.021848
min         0.009000
25%         0.036000
50%         0.043000
75%         0.050000
max         0.346000
Name: chlorides, dtype: float64
Nulls: 0
Unique values: 160

---
Column: free sulfur dioxide
Stats:
count    4898.000000
mean       35.308085
std        17.007137
min         2.000000
25%        23.000000
50%        34.000000
75%        46.000000
max       289.000000
Name: free sulfur dioxide, dtype: float64
Nulls: 0
Unique values: 132

---
Column: total sulfur dioxide
Stats:
count    4898.000000
mean      138.360657
std        42.498065
min         9.000000
25%       108.000000
50%       134.000000
75%       167.000000
max       440.000000
Name: total sulfur dioxide, dtype: float64
Nulls: 0
Unique values: 251

---
Column: density
Stats:
count    4898.000000
mean        0.994027
std         0.002991
min         0.987110
25%         0.991723
50%         0.993740
75%         0.996100
max         1.038980
Name: density, dtype: float64
Nulls: 0
Unique values: 890

---
Column: pH
Stats:
count    4898.000000
mean        3.188267
std         0.151001
min         2.720000
25%         3.090000
50%         3.180000
75%         3.280000
max         3.820000
Name: pH, dtype: float64
Nulls: 0
Unique values: 103

---
Column: sulphates
Stats:
count    4898.000000
mean        0.489847
std         0.114126
min         0.220000
25%         0.410000
50%         0.470000
75%         0.550000
max         1.080000
Name: sulphates, dtype: float64
Nulls: 0
Unique values: 79

---
Column: alcohol
Stats:
count    4898.000000
mean       10.514267
std         1.230621
min         8.000000
25%         9.500000
50%        10.400000
75%        11.400000
max        14.200000
Name: alcohol, dtype: float64
Nulls: 0
Unique values: 103

---
Column: quality
Stats:
count    4898.000000
mean        5.877909
std         0.885639
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         9.000000
Name: quality, dtype: float64
Nulls: 0
Unique values: 7

---
Column: free sulfur dioxide
Unique values/count: 132
Sample values: [45. 14. 30. 47. 28. 11. 17. 16. 48. 41.]
Top 10 most common:
free sulfur dioxide
29.0    160
31.0    132
35.0    129
26.0    129
34.0    128
36.0    127
24.0    118
33.0    112
28.0    112
25.0    111
Name: count, dtype: int64

---
Column: total sulfur dioxide
Unique values/count: 251
Sample values: [170. 132.  97. 186. 136. 129.  63. 109.  75. 143.]
Top 10 most common:
total sulfur dioxide
111.0    69
113.0    61
117.0    57
118.0    55
114.0    54
150.0    54
122.0    54
128.0    54
124.0    53
140.0    52
Name: count, dtype: int64